<footer class="site-footer">

  <script src="{{ "/js/jquery.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/js/menu-toggle.js" | prepend: site.baseurl }}"></script>

  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.1.5/trianglify.min.js"></script>

  <script src="{{ "/js/jezhoubackground.js" | prepend: site.baseurl }}"></script>

</footer>
